* {
  box-sizing: border-box;
}

body {
  background-color: #171719;
  font-family: sans-serif;
}

.anuncios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  justify-items: center;
}

.anuncio-card {
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.anuncio-card img {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.anuncio-card p {
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 0;
}

@media (min-width: 768px) {
  .anuncios {
    grid-template-columns: repeat(3, 1fr);
  }

  .anuncio-card {
    width: 160px;
    height: 160px;
  }

  .anuncio-card img {
    width: 160px;
    height: 120px;
  }

  .anuncio-card p {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .anuncio-card {
    width: 180px;
    height: 180px;
  }

  .anuncio-card img {
    width: 180px;
    height: 140px;
  }

  .anuncio-card p {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
}
